<ng-container [formGroup]="form">
  <mat-form-field class="example-full-width">
    <mat-label>kernal</mat-label>
    <input
      type="number"
      matInput
      placeholder="odd"
      formControlName="kernal"
      min="1"
      max="19"
    />
    <!-- <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
        Please enter a valid email address
      </mat-error>
      <mat-error *ngIf="emailFormControl.hasError('required')">
        Email is <strong>required</strong>
      </mat-error> -->
  </mat-form-field>
</ng-container>
