<div cdkDropListGroup>
  <div cdkDropList class="example-list">
    <div cdkDrag class="example-box d-flex align-items-center">
      <div class="d-flex filter-left">
        <mat-slide-toggle [(ngModel)]="medianBlur"></mat-slide-toggle>
        <p>Median Blur</p>
      </div>
      <form [formGroup]="medianBlurForm">
        <app-median-blur></app-median-blur>
      </form>
    </div>
  </div>
  <div cdkDropList class="example-list">
    <div cdkDrag class="d-flex example-box align-items-center">
      <div class="d-flex filter-left">
        <mat-slide-toggle [(ngModel)]="bilaterial"></mat-slide-toggle>
        <p>bilaterial filter</p>
      </div>
      <form [formGroup]="bilaterialForm">
        <app-bilaterial></app-bilaterial>
      </form>
    </div>
  </div>
  <div cdkDropList class="example-list">
    <div cdkDrag class="d-flex example-box align-items-center">
      <div class="d-flex filter-left">
        <mat-slide-toggle [(ngModel)]="adptvTreshould"></mat-slide-toggle>
        <p>adaptive threshoulding</p>
      </div>
      <form [formGroup]="adptvTreshouldForm">
        <app-aptiv-threshoulding></app-aptiv-threshoulding>
      </form>
    </div>
  </div>
  <div cdkDropList class="example-list">
    <div cdkDrag class="d-flex example-box align-items-center">
      <div class="d-flex filter-left">
        <mat-slide-toggle [(ngModel)]="colorQuantization"></mat-slide-toggle>
        <p>Color Quantize</p>
      </div>
      <form [formGroup]="colorQuantizationForm">
        <app-color-quantization></app-color-quantization>
      </form>
    </div>
  </div>
  <div class="d-flex justify-content-end mt-3">
    <button mat-raised-button color="primary" class="me-3">Submit</button>
  </div>
</div>
